streamlit
google-cloud-vision
google-auth
spacy
pymupdf
openai
scispacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz 
scispacy
google-generativeai
python-dotenv